---
import { log } from "astro/dist/core/logger/core";
import { CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

interface Props {
  post: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
    const all_posts = await getCollection("blog");
    const uniqueTags = [...new Set(all_posts.map((post) => post.data.tags).flat())];

    return uniqueTags.map((tag) => {
        const filteredPosts = all_posts.filter((post) =>
        post.data.tags.includes(tag)
        );
        return {
        params: { tag },
        props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
    <ul>
      {
        posts.map((post) => (
          // this works, but I don't like it.
          // why does {post.url} not work anymore
          <BlogPost url={`/blog/${post.slug}`} title={post.data.title} />
        ))
      }
    </ul>
</BaseLayout>