---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "cooper",
  country: "aus",
  occupation: "unemployed",
  hobbies: ["programming", "reading", "writing", "anime"],
};

const skills = ["nothing"];

const happy = false;
---


<BaseLayout pageTitle={pageTitle}>
    <h3>website</h3>

    <!-- <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
        {identity.hobbies.length >= 2 && 
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        } 
    </ul>  -->
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li>{skill}</li>)}
    </ul>
</BaseLayout>

