---
import { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

// interface Props {
//   frontmatter: CollectionEntry<'blog'>['data'];
// }
type Props = CollectionEntry<'blog'>['data'];

const { title, author, pubDate, description, image } = Astro.props;
---
<BaseLayout pageTitle={title}>
    <h1>{title}</h1>
    <p>author: {author}</p>
    <p>publish date: {pubDate.toLocaleDateString("en-uk")}</p>
    <p>description: <em>{description}</em></p>
    <img src={image?.src} width="300" alt={image?.alt} style="max-width: 100%; height: auto;"/>
    <div>
        <slot />
    </div>
</BaseLayout>

<!-- <style>
    div { 
        text-align: center;
        color: red;
    }
</style> -->

