---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

// don't need this anymore because we have getCollection now
// const allPosts = await Astro.glob('../pages/posts/*.md');
const all_posts = await getCollection('blog');

const pageTitle = "writing";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>this si msy writ eing</h2>
    <ul>
        {all_posts.map(post => (
            <li>
                <a href={post.slug}>{post.data.title}</a>
                {/* <img src={post.data.image?.src} alt={post.data.image?.alt} style="max-width: 100%; height: auto;">*/}
            </li>
        ))}
    </ul>
    <a href="1">more</a>
</BaseLayout>

